
@using websiteBALO.Models;
@using PagedList.Mvc;
@model PagedList.IPagedList<SANPHAM>
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>BALO</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/Content/menu.css" rel="stylesheet" />
    <link href="~/Content/cuoitrang.css" rel="stylesheet" />
    <link href="~/Content/timkiem.css" rel="stylesheet" />
    <link href="~/Content/css.css" rel="stylesheet" />

</head>
<body>

    <div class="icondienthoai">
        <a href="https://www.messenger.com/new" class="dienthoai">
            <i>
                <img src="~/hinh/messenger.png" style="width:50px;height:50px;" />
            </i>
        </a>
    </div>

    <div class="top">

        <a class="location"><img src="~/hinh/map.png" style="height: 20px;width: 20px;"><b>Thủ Dầu Một,Bình Dương </b></a>
        <a class="phone">
            <img src="~/hinh/phone.png" style="height: 20px;width: 20px;"><b>
                HOLINE:0966375505
            </b>
        </a>

        <div class="dangnhapdangky">
            @{

                if (Session["taikhoan"] == null)
                {
                    <img src="~/hinh/login (2).png" style="width:20px;height:13px;">
                    <a href="@Url.Action("dangnhap", "nguoidung")" style="text-decoration:none;">
                        ĐĂNG NHẬP
                    </a>
                    <a href="@Url.Action("dangky","nguoidung")" style="background-color:orangered;text-decoration:none;">
                        ĐĂNG KÝ
                    </a>
                }
                else
                {
                    <a href="@Url.Action("dangnhap", "nguoidung")" style="text-decoration:none;">
                        <font color="#BAEDED">
                            xin chào bạn:
                        </font>@Session["taikhoan"]
                    </a>
                    @Html.ActionLink("Thoát", "dangxuat", "nguoidung")
                }
            }
        </div>

    </div>
    <div class="logo">
        <div class="logo1">
            <img src="~/hinh/logo11.png" />
        </div>
        <a href="@Url.Action("giohang", "giohang")" style="font-size:38px;float:right;text-decoration:none;margin-top:16px;">@Html.Action("giohangpartial", "giohang", new { @ID = Session["thongtin"] })</a>
        <div class="timkiem">
            @using (Html.BeginForm("timkiem", "Home", FormMethod.Post))
            {
                @Html.TextBox("timkiem", "", htmlAttributes: new { @placeholder = "Nhập từ khóa cần tìm kiếm..." })
                <button>
                    <img src="~/hinh/search.png" />
                </button>
            }
        </div>
    </div>
    <div class="menu">
        <ul>
            <li><a href="@Url.Action("Index", "Home")"><b>🏠TRANG CHỦ</b></a></li>
            <li>
                <a href="#"><b>🎒BALO</b> </a>
                <ul class="menucon">
                    <li><a href="@Url.Action("balolaptop", "Home")"><b>BALO LAPTOP</b></a></li>
                    <hr />
                    <li><a href="@Url.Action("balothoitrang", "Home")"><b>BALO THỜI TRANG</b></a></li>
                    <hr />
                    <li><a href="@Url.Action("balothethao", "Home")"><b>BALO THỂ THAO</b></a></li>
                    <hr />
                </ul>
            </li>
            <li>
                <a href="@Url.Action("tuixach", "Home")"><b>👜CẶP</b></a>

            </li>

            <li>
                <a href="@Url.Action("gioithieu", "Home")"><b>☎LIÊN HỆ</b></a>
            </li>

        </ul>

    </div>

    <div class="ABC" style="text-align:center;">
        <p style="margin-top:100px;animation:zoomIn forwards 3s ">
            <b style="color:white;font-size:47px;">CHÀO MỪNG TỚI <b style="color:orangered">BALONEO </b> </b><br /><br /><br />
            <h2 style="color:white; animation:slideInDown forwards 7s "> Chúng tôi tự hào với những dòng sản phẩm mang thương hiệu nỗi tiếng: adidas,Nike,sakos...</h2>
            <h2 style="color:white;animation:slideInDown forwards 7s "> Nơi mua sắm balo trực tuyến đảm bảo và uy tín hàng đầu tại Việt Nam</h2><br /><br /><br />
            <h2 style="color:aliceblue">Đối tác đầu tư:</h2><br />
            <a href="https://www.nike.com/vn/en_gb/?cp=ahns_kw_nike_br!vn!null!txt!g!device!Core%20Brand%20-%20GN%20-%20Pure%20-%20XCategory%20-%20Nike%20Vietnam%20-%20TM%20-%20General%20-%20EN_EN%20-%20Exact!nike!Exact&k_clickid=_k_EAIaIQobChMIy_zgta-93gIVCamWCh2hcQc_EAAYASAAEgKQFvD_BwE_k_&gclid=EAIaIQobChMIy_zgta-93gIVCamWCh2hcQc_EAAYASAAEgKQFvD_BwE">
                <img src="~/hinh/adesivo-nike-sb-nike.jpg" style="margin-left:1px;width:80px;height:80px; border-radius:50%;cursor:inherit;animation:rollIn forwards 4s ">
            </a>&nbsp;
            <a href="https://sakos.vn/"><img src="~/hinh/sakos.png" style="margin-left:1px;width:80px;height:80px; border-radius:50%;cursor:inherit;animation:rollIn forwards 4s"></a> &nbsp;
            <a href="https://www.adidas.com/us"> <img src="~/hinh/images.png" style="margin-left:1px;width:80px;height:80px; border-radius:50%;cursor:inherit;animation:rollIn forwards 4s"></a>

        </p>

    </div>

    <center>
        <img src="~/hinh/ss.PNG" style="width:100%">
    </center><br /><br /><br />
    <h2 style="margin-left:10px;text-align:center;background-color:lightslategray;padding:20px;width:290px;color:aliceblue;height:60px;border-radius:10%"><b>MẪU MỚI RA MẮT </b></h2>
    <br /><br />
    <marquee onmouseover=" this.stop()" onmouseout="this.start()" scrollamount="4" direction="up" style="background-image: url('../../hinh/sbv108dn__2__large.jpg'); width: 20%; height: 300px; text-align: center;">
        <img src="~/hinh/balolaptop/sbv105bk__1_.jpg" style="height:300px;width:300px;">
        <img src="~/hinh/balolaptop/sbv107bk__1_.jpg" style="height:300px;width:300px;">
        <img src="~/hinh/balolaptop/sbv115dg__3__large.jpg" style="height:300px;width:300px;" />
        <img src="~/hinh/balo-torus-63z09023-02.jpg" style="height:300px;width:300px;" />
        <img src="~/hinh/sbv122dn__3__large.jpg" style="height:300px;width:300px;" />
    </marquee>

    <img src="~/hinh/giamgia11.PNG" style="float:right;margin-right:40px;width:72%;height:300px;box-shadow: 2px 3px 2px rgba(0,0,0,.3)">

    <br /><br /><br />
    <div class="mmm">
        @Html.Action("balomoipartial", "Home")
    </div>

    <center>
        <img src="~/hinh/batros.PNG" style="width:100%;margin-top:50px;box-shadow:10px 10px 10px 10px rgba(0,0,0,.3) ">
    </center>
    <div class="cuoitrang" style="margin-top:5px; ">
        <div class="cuoitrangA">
            <br />
            <img src="~/hinh/logo11.png" style="width:270px;height:90px;background-color:aliceblue "><br /><br /><hr /><br>
            <h3>HỆ THỐNG CỬA HÀNG </h3><br />
            <h4>WEBSITE CHÍNH: BALONEO.COM</h4><br />
            <h4>ĐỊA CHỈ:Đ.Trần Văn Ơn,P.Phú Hòa,TP.Thủ Dầu Một,T.Bình Dương</h4><br />
            <h4> KẾT NỐI VỚI CHÚNG TÔI QUA:</h4><br />
            <img src="~/hinh/facebook.png" />
            <img src="~/hinh/youtube.png" />
            <img src="~/hinh/gmail.png" />
        </div>
        <div class="cuoitrangC">
            <hr /><br />
            <h3>THÔNG TIN</h3><br />
            <h4><a href="@Url.Action("gioithieu","Home")">Chính sách bảo hành</a></h4><br />
            <h4><a href="~/adminbalo/khachhang/dangnhapad">TRANG ADMIN</a></h4>
        </div>

        <div class="cuoitrangB">

            <hr />

            <br />
            <h3>LIÊN HỆ</h3><br />
            <h4>GỌI MUA HÀNG:0966375505</h4><br />
            <h3>SỐ NGƯỜI ONLINE: @ApplicationInstance.Application["Totaluser"]</h3>
            <br />
            <h3>SỐ LẦN KHÁCH TRUY CẬP WEBSITE: </h3><br />
            <a href="https://info.flagcounter.com/lwOd">
                <img src="https://s01.flagcounter.com/mini/lwOd/bg_FFFFFF/txt_070326/border_4BCCC8/flags_0/" alt="Flag Counter" border="0" height="30" width="200" style="opacity:0.7">
            </a>
            <br />
        </div>
        <div>
            <img src="~/hinh/footer-fortune-technology-india.png" style="width:100%;">
        </div>
    </div>

</body>
</html>
